<h2 class="text-center fst-italic fw-bold m-0 p-0" > <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-sun-100-most-used-icons-flaticons-flat-flat-icons-2.png" class="spinning"/>Weather App</h2>
<div class="container pb-4">
  <div class="row justify-content-center">
    <div class="col-10 col-md-6">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm" ngNativeValidate>
        <div class="row">
          <div class="col-12">
            <div class="form-floating mt-0 mb-2">
              <input
                id="cityName"
                class="form-control"
                placeholder="City Name"
                ngModel
                #cityName="ngModel"
                name="cityName"
                required
              />
              <label for="cityName">Enter City Name</label>
            </div>
            <div
              class="alert alert-warning"
              role="alert"
              *ngIf="!cityName.valid && cityName.touched"
            >
              Fill up this form or use geolocation!
            </div>
          </div>

          <div class="d-grid col-md-6 mx-auto mb-2 mb-md-0">
            <button
              type="submit"
              [disabled]="!form.valid"
              class="btn btn-warning"
            >
              Submit
            </button>
          </div><div class="d-grid col-md-6 mx-auto">
            <button
              type="button"
              class="btn btn-warning"
              (click)="getLocation(form)"
            >
              Use your location
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-8 col-md-6 col-lg-4">
      <div class="card shadow-lg p-2" *ngIf="weather">
        <div class="card-body pb-0">
          <h4 class="card-title">
            {{ weather.name }}, {{ weather.sys.country }}
          </h4>
          <p class="card-text mb-0">{{ weather.weather[0].description }}</p>
          <p
            class="card-text text-center fw-bold m-0 p-0 temp"
            
          >
            {{ weather.main.temp | number: "1.0-1" }} &#8451;
          </p>
        </div>
        <img
          class="card-image mx-auto"
          src="../../assets/icons/{{weather.weather[0].icon}}.png"
        />
        <div class="row justify-content-center">
          <ul class="list-group list-group-flush w-75">
            <li class="list-group-item d-flex justify-content-around">
              <p>Pressure:</p>
              <p>{{ weather.main.pressure }}hPa</p>
            </li>
            <li class="list-group-item d-flex justify-content-around">
              <p>Humidity:</p>
              <p>{{ weather.main.humidity }}%</p>
            </li>
            <li class="list-group-item d-flex justify-content-around">
              <p>Wind:</p>
              <p>{{ weather.wind.speed }}m/s</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
