h2{
    color: #ffc107;
}
img{
    width: 35%;
}

input.ng-invalid.ng-touched{ 
   border-bottom: 4px solid #f00;
}

.temp{
    font-size: 2.5em
}

.list-group p {
    margin: .3rem 0;
}

.spinning {
    animation: spin 6s infinite;
    animation-timing-function: linear;
    width: fit-content;
    margin-bottom: 8px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }